<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.logan.amtsinfo"
    android:versionCode="1"
    android:versionName="1.0" >
	
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    
    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.logan.amtsinfo.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.logan.amtsinfo.SearchByNumber"
            android:label="@string/title_activity_search_by_number" >
        </activity>
        <activity
            android:name="com.logan.amtsinfo.FeedbackActivity"
            android:label="@string/title_activity_feedback" >
        </activity>
        <activity
            android:name="com.logan.amtsinfo.SearchByLocationActivity"
            android:label="@string/title_activity_search_by_location" >
        </activity>
        <activity
            android:name="com.logan.amtsinfo.SearchBySourceAndDestinationActivity"
            android:label="@string/title_activity_search_by_source_and_destination" >
        </activity>
    </application>

</manifest>